node_modules
npm-debug.log

__pycache__/
*.pyc
*.pyo
*.pyd

logs
*.log

*.pyo
*.pyc
*.pyd

venv/
env/

.DS_Store
*.swp

.git
.gitignore

Dockerfile
docker-compose.yml

.vscode/
.idea/
*.sublime-project
*.sublime-workspace

*.bak
*.tmp
*.bak~
