body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
   /* background-image: conic-gradient( 90deg ,  black , purple );   */
  /* background: rgb(113,25,156);*/
   background: radial-gradient(circle, rgb(96, 0, 147) 0%, rgb(0, 0, 0) 50% );
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}

form {
    background: radial-gradient(circle, rgb(42, 41, 43) 0%, rgba(0,0,0,1) 100%);
    padding: 20px;
    border-radius: 30px;
    box-shadow: 0 1px 7px rgb(236, 235, 235);
    width: 400px;
    height: 500px;
    text-align: left;
    border: 1px solid black;
    position: absolute;
    filter: brightness(50px);
    
}

h1 {
    font-size: 24px;
    color: #24292e;
    margin-bottom: 8px;
}

h5 {
    color: #586069;
    margin-bottom: 16px;
}


.textBox input {
    width: 80%;
    padding: 8px 12px;
    margin: 8px 0 16px 0;
    border: 1px solid #e1e4e8;
    border-radius: 9px;
    box-sizing: border-box;
    font-size: 19px;
    background-color: rgb(35, 35, 35);
    color: #24292e;
    cursor: pointer;
    font-weight: bold;
    
}

input[type="password"]{
    color: #fff;

}

input[type="text"]{
    color: #fff;
}

input[type="checkbox"] {
    margin-right: 8px;
}

.forgot-password {
    margin: 16px 0;
}

.forgot-password a {
    color: #fff;
    text-decoration: none;
}

.forgot-password a:hover {
    text-decoration: underline;
}

.loginbutton {
    background-color: #fff;
    color: black;
    padding: 10px 16px;
    border: 1px solid rgba(27, 31, 35, 0.15);
    border-radius: 10px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    width: 80%;
    box-shadow: 0 1px 0 rgba(27, 31, 35, 0.04);
    vertical-align: middle;
    white-space: nowrap;
}

.loginbutton:hover {
    background-color: rgb(210, 1, 210);
    letter-spacing: 0.05em;
    background: var(rgb(210, 1, 210));
    color: #fff;
   /* height: 45px; */
    transform: scale(1.09);
    transition-duration: 0.3s;
}


a {
    color: #fff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h1{
    color: #fff;
}

h5{
    color: #fff;
}

.Google{
    color: #fff;
}

.Account{
    color: #fff;
    display: flex;
    justify-content: space-evenly;
}

span{
    color: #fff;
}

.email{
    color: #fff;
}

.Password{
    color: #fff;
}

.fa-google {
    color: #fff;
}

.fa-github{
    color: #fff;
}

.fa-linkedin{
    color : #fff;
    
}

.fa-windows {
    color: #fff;
}

.logo{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    margin-top: 50px;
    cursor: pointer;
}

.fa-google:hover{
    color: rgb(3, 214, 24);
    transform: scale(1.2);
    transition-duration: 0.3s;
}

.fa-windows:hover{
    color: rgb(53, 184, 255);
    transform: scale(1.2);
    transition-duration: 0.3s;
}

.fa-linkedin:hover{
    color: rgb(23, 90, 166);
    transform: scale(1.2);
    transition-duration: 0.3s;
}

.fa-github:hover{
    color: #b5b8bb;
    transform: scale(1.2);
    transition-duration: 0.3s;
}
