<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/public/forgotPassword.css">
</head>

<body>
    <form method="POST" action="/user/forgot">
        <centre>
            <h1>Reset Your Password</h1>
            <br>
            <span>Username/Email</span>
            <div class="textBox">
                <input type="text" name="forgotusername" id="forgotusername" placeholder="Username/Email">
            </div>
            <span>Forgot-Password</span>
            <div class="textBox">
                <input type="password" name="Password" id="Password" placeholder="Password">
            </div>
            <span>Confirm-Password</span>
            <div class="confirmPassword">
                <input type="password" name="Confrim_Password" id="Confirm_Password" placeholder="Confirm Your Password">
            </div>
            <br>
            <br>
            <button id="login" type="submit" class="loginbutton">Login</button>
        </centre>
    </form>
    <script src="forgotPassword.js"></script>
</body>

</html>