<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src='https://cdn.plot.ly/plotly-2.32.0.min.js'></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/PapaParse/5.3.0/papaparse.min.js"></script>
</head>

<body>
    <div id="myplot" style="width:100%; height:100%;"></div>
    <button id="stp">Show Full Graph</button>
    <button id="second">add graph</button>
    <button id="boilenger">Boilenger Bands</button>
    <button id="macd">MACD</button>
    <button id="rsi">RSI</button>
    <div id="rsigraph"></div>

    <script src="/graph.js"></script>
</body>

</html>
