<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FoxTrendAI - Home</title>
    <link rel="stylesheet" href="/public/intro.css">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js"
    integrity="sha512-7eHRwcbYkK4d9g/6tD/mhkf++eoTHwpNM9woBxtPUBWm67zeAfFC+HrdoE2GanKeocly/VxeLvIqwvCdk7qScg=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script> 
    
    <div class="bg-container">
    <header>  
        <img src="https://cdn.discordapp.com/attachments/1194879339318222969/1273657710226833448/9d6116aa-ca70-4e9c-bb74-1b47198a340c_3-Photoroom.png?ex=66d91eed&is=66d7cd6d&hm=c975478b685c5a28864b4348cdb8d709a9bdb10a97ccd3348837922aab8c31fc&" class="logo">
        <nav>
            <ul class="navbar">
                <li>
                    <a href="#">Services</a>
                    <ul class="dropdown1">
                        <li><a href="#">Housing Price (coming soon)</a> </li>
                        <li><a href="#">Loan Approval (coming soon)</a> </li>
                        <li><a href="#">Used Car Price (coming soon)</a></li>
                        <li><a href="#">Stock Price Prediction (coming soon)</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">Company</a>
                    <ul class="dropdown2">
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Blog</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                        <li><a href="#">LinkedIn</a></li>
                        <li><a href="#">YouTube</a></li>
                        <li><a href="#">Mail Us</a></li>
                    </ul>
                </li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">Contact Us</a></li>
            </ul>
            <button
        </nav>
    </header>

        <section class="intro">
            <div>
                <video autoplay muted loop id="background-video">
                    <source src="stock_video.mp4" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            <h1>Transforming Data into  </h1>
            <h3><span class="purple-gradient">Decision-Making</span>&nbsp;power</h3>              
            <h2>Leverage AI-driven predictions to navigate financial markets real estate</h2>
            <h4> loans, and more with confidence</h4>
            </div>
            <div class="cta1">
            <div class="cta-buttons">
                <button class="text1"><a href="/user/register"><span>Sign Up</span></a></button>
            </div>
            <div class="cta-buttons 2">
                <button class = "text2"><a href="/user/login"><span>Login</span></a></button>
            </div>
            </div>
        </section>

        <section class="industries">
            <h2>Our Services</h2>
            <ul>
                <li class = "StockButton" >
                    Stock Price 
                </li>
                <li  class="loanButton">
                    Loan Approval
                </li>
                <li  class="carButton">
                    Used Car Price Prediction
                </li>
                <li  class="HouseButton">
                    Housing Price Prediction
                </li>
            </ul>

            <div  id="StockContent">
                <img  src="https://cdn.discordapp.com/attachments/1210646327088906302/1274452642755772438/1eb7bba4-9a85-45de-9d6a-67f0f3ffb5a8.png?ex=66d96044&is=66d80ec4&hm=0298ca510683c092cf8a4fce081bc66d6ce51af8bc68b8d26a955b66c4d9e0ea&">
                <p class="Sdesc1">Access real-time data and insights for any company, including cryptocurrency.</p>
                <p class="Sdesc2">  Our platform provides you with all the essential market information, from </p>
                <p class="Sdesc3">  historical prices to current trends, ensuring you stay ahead of the curve. </p>

                <div class="cta2">
                    <div class="cta-buttons 2">
                        <button>Learn More</button>
                    </div>
                    </div>
            </div>
           
            <div  id="LoanContent">
                <img src="https://cdn.discordapp.com/attachments/1194879339318222969/1274692179385647156/163ade66-5a46-4fb8-bf75-858c29bae3d6.png?ex=66d9969a&is=66d8451a&hm=26b87e6d9b0033d638616b1ca09c2e58f4f7b69b3f127f260a977f1dd1bea2ed&">
                <p class="Ldesc1">Our platform analyzes your credit score, income, employment history and other</p>
                <p class="Ldesc2"> Key factors to provide a personalized prediction of your loan approval chances.</p>

                <div class="cta2">
                    <div class="cta-buttons 2">
                        <button>Learn More</button>
                    </div>
                    </div>
            </div>

            <div id="CarContent">
                <img src="https://cdn.discordapp.com/attachments/1194879339318222969/1274682570776379502/d5769398-682d-41d5-b4e1-ec0f88436b4c.png?ex=66d98da7&is=66d83c27&hm=014be24d9014864f400527db46837cba041b3b9e866ceb6b1d85f66bffccf6e9&">
                <p class="Cdesc1">Get predictions backed by extensive market data, including recent sales, regional trends</p>
                <p class="Cdesc2"> And vehicle depreciation ensuring you receive the most accurate and relevant price estimate.</p>

                <div class="cta2">
                    <div class="cta-buttons 2">
                        <button>Learn More</button>
                    </div>
                    </div>

            </div>

            <div  id="HouseContent">
                <img src="https://cdn.discordapp.com/attachments/1194879339318222969/1274676309510852618/f10c8c30-7564-423e-ab8b-12f3bfed98f9.png?ex=66d987d2&is=66d83652&hm=71410750f7a47afad69ff380b771666543e33c4118f797482b4dce7dcdf9e7da&">
                <p class="Hdesc1">Utilize our location-specific models to ensure your property valuation is accurate taking</p>
                <p class="Hdesc2"> Into account  regional market trends, neighborhood characteristics, and local demand factors.</p>

                <div class="cta2">
                    <div class="cta-buttons 2">
                        <button>Learn More</button>
                    </div>
                    </div>
                    
            </div>
            
          
        </section>

        <br>
        <br>
        <br>
        <br>
        <br>
        
       <div class="about-us-cont">
            <h2 class="quote1">Our Journey</h2>
             
            <div class="quote-text ">
                
            <div class="quote2">About Us</div>
            <div class="quote3">
                We are four passionate computer science students, about to start our second year(at the time the project was deployed). Our team includes a frontend developer, two full-stack developers, and a machine learning engineer. We bonded over our shared love for coding and decided to collaborate on our first full-scale web application. Our mission is to gain practical experience in development and teamwork, while learning to maintain and improve our project through user feedback
            </div>

       </div>

    </div>


    <br>
    <br>
    <br>

    
    <footer>
        <div class="footer-links">

            <button class="footer-button" id="hidden" type="button" input type="text"><a href="/user/register">Sign Up</a> </button>

                <div class="footer-block">
                <div class="footer-title">Company</div>
                    <a href="#" class="links">Mail us</a>
                    <a href="#" class="links">Services</a>
                </div>

                <div class="footer-block">
                <div class="footer-title">More</div>
                    <a href="#" class="links">Blog</a>
                    <a href="#" class="links">Terms & Conditions</a>
                    <a href="#" class="links">Careers</a>
                    <a href="#" class="links">Privacy Policy</a>
                </div>
            
                <div class="footer-block">
                <div class="footer-title">Social</div>
                    <a href="#" class="links">LinkedIn</a>
                    <a href="#" class="links">YouTube</a>
                </div>
            
        </div>
    </footer> 
    </div>


    <script src="/public/intro.js"></script>
   

</body>
</html>
